<div  class="page-content">
    <div class="row content-header">
        <div class="col-md-6">
            <h1>Students Page</h1>
        </div>
        <div class="col-md-3 pull-right">
            <button class="btn btn-add pull-right" ui-sref="app.students.new">
                <i class="fa fa-plus"></i> Add Student
            </button>
        </div>
    </div>
    <div class="content-tbl">
        <table class="table" at-table at-list="allStudents">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Student ID</th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat = "student in vm.pageStudents">
                    <td>{{ student.id }}</td>
                    <td ng-click="goToStudent(student)">{{ student.student_code }}</td>
                    <td ng-click="goToStudent(student)">{{ student.first_name }}</td>
                    <td ng-click="goToStudent(student)">{{ student.last_name }}</td>
                    <td class="btn-tools">
                        <button ng-click="goToEdit(student)" class="btn btn-success btn-xs row-btn">
                            <i class="fa fa-pencil"></i>
                        </button>
                        <button ng-click="deleteStudent(student)" class="btn btn-danger btn-xs row-btn">
                            <i class="fa fa-times"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="page-pagination">
            <ul uib-pagination total-items="vm.pagination.numPages" 
                ng-model="vm.pagination.currentPage" max-size="vm.pagination.maxSize"
                boundary-links="true" force-ellipses="true" class="pagination-sm" 
                previous-text="&lsaquo;" next-text="&rsaquo;" 
                first-text="&laquo;" last-text="&raquo;">
            </ul>
        </div>
    </div> 
</div>
